*{
    font-family: "Times New Roman", Times, serif;
}

body{
     background-image: linear-gradient(to right, skyblue , white);
}

.container{
    height: 600px;    
    background-color: lightskyblue;
      width: 700px;
    display: block;
    margin: auto;
    box-shadow: 3px 3px 3px navy;
    border-radius: 50%;
    padding-bottom : 0px;
}

.app-title{
    margin: auto;
    width: 400px;
    height: auto;
   
}

.app-title p{
    text-align: center;
    padding-top:125px;
    padding-bottom: 20px
    margin: auto;
    font-size: 2.5em;
    color: navy;
     text-decoration: underline;
text-shadow: 2px 2px lightblue;
}

.notification{
    display: none;
}

.notification p{
    color: red;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.weather-container{
    width: 500px;
    height: 380px;
    background-color: lightskyblue;
    border-radius: 50%;
    margin: 0 auto;
}

.weather-icon{
    width: 300px;
    height: 135px;
}

.weather-icon img{
    display: block;
    margin: 0 auto;
    padding: 5px;
}

.temperature-value{
    width: 300px;
    height:65px;
}

.temperature-value p{
    padding: 0;
    margin: 0;
    color: navy;
    font-size: 4.5em;
    text-align: center;
    cursor: pointer;
}

.temperature-value p:hover{
    
}

.temperature-value span{
    color: navy;
    font-size: 0.7em;
}

.temperature-description{
    
}

.temperature-description p{
    padding: 15px;
    margin: 0;
    color: navy;
    text-align: center;
    font-size: 1.3em;
}

.location{
    color: navy;
}

.location p{
    margin: 0;
    padding: 3px;
    color: navy;
    text-align: center;
    font-size: 1.4em;
}



